.message{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}
.p{
    
    scrollbar-width: none;
}
.chatScrolBar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}